@import "tailwindcss";

@theme {
  --font-sans: "vazirFont", sans-serif;

  --color-primary-main: rgb(250, 84, 28);
  --color-primary-900: rgb(25, 8, 3);
  --color-primary-850: rgb(75, 25, 8);
  --color-primary-700: rgb(150, 50, 17);
  --color-primary-600: rgb(225, 76, 25);
  --color-primary-400: rgb(251, 118, 73);
  --color-primary-300: rgb(252, 152, 119);
  --color-primary-150: rgb(253, 204, 187);
  --color-primary-50: rgb(254, 238, 232);

  --color-secondary-main: rgb(3, 35, 64);
  --color-secondary-900: rgb(1, 7, 13);
  --color-secondary-850: rgb(1, 10, 19);
  --color-secondary-700: rgb(2, 21, 38);
  --color-secondary-400: rgb(25, 65, 101);
  --color-secondary-300: rgb(47, 95, 138);
  --color-secondary-150: rgb(81, 140, 193);
  --color-secondary-50: rgb(103, 170, 230);
  --color-secondary-10: rgb(207, 232, 255);
  --color-secondary-0: rgb(235, 245, 255);

  --color-error-800: rgb(138, 21, 19);
  --color-error-500: rgb(229, 57, 53);
  --color-error-200: rgb(250, 221, 202);
  --color-warning-800: rgb(153, 87, 0);
  --color-warning-500: rgb(255, 179, 0);
  --color-warning-200: rgb(255, 243, 191);
  --color-success-800: rgb(37, 112, 40);
  --color-success-500: rgb(102, 187, 106);
  --color-success-200: rgb(211, 237, 221);
  --color-info-800: rgb(15, 88, 148);
  --color-info-500: rgb(41, 182, 246);
  --color-info-200: rgb(199, 242, 252);

  --color-neutral-black: rgb(0, 3, 6);
  --color-neutral-800: rgb(64, 64, 64);
  --color-neutral-700: rgb(96, 96, 96);
  --color-neutral-600: rgb(134, 134, 134);
  --color-neutral-500: rgb(173, 173, 173);
  --color-neutral-400: rgb(203, 203, 203);
  --color-neutral-300: rgb(217, 217, 217);
  --color-neutral-200: rgb(237, 237, 237);
  --color-neutral-100: rgb(249, 249, 249);
  --color-neutral-white: rgb(255, 255, 255);
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

@layer components {
  .textField__input {
    @apply w-full border-2 border-neutral-500 text-neutral-800 rounded-lg 
    px-4 py-3 hover:border-neutral-800 focus:border-neutral-800 transition-all 
    duration-300 ease-out focus:shadow-lg focus:shadow-neutral-300;
  }
  .textField--invalid {
    @apply bg-[#ffebe9] text-error-800 !border-error-800 focus:shadow-red-100;
  }
  .btn {
    @apply px-2 py-3 rounded-lg font-medium transition-all duration-300;
  }
  .btn--primary {
    @apply bg-primary-main hover:bg-primary-600 text-white;
  }
  .authForm__title {
    @apply text-lg mb-8 font-semibold lg:text-2xl lg:font-medium;
  }
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
  /* border: none; */
  /* padding: 0; */
  /* margin: 0; */
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--Vazirmatn);
  min-height: 100vh;
  user-select: none;
  background-color: var(--color-neutral-white);
}

button {
  cursor: pointer;
  outline: none;
}
button:disabled {
  cursor: not-allowed;
  background-color: var(--color-secondary-300);
  color: var(--color-secondary-700);
  opacity: 0.5;
  pointer-events: none;
  box-shadow: none;
}

/* inupt number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
